# Reload shell
alias reload="source ~/.zshrc"

##############
# Filesystem #
##############

# Better detailed file list
alias ll="tree --dirsfirst -ChFupDaLg 1"

# Better simplified file list
alias lsa="ls -aF"

# Filesize of folder contents
alias fsize="du -hs *"

# Moving around
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."

# Unzip all zip files to current directory, don't create extra dirs
alias unzipall="unzip -d . -j \*.zip"

# Always ask before removing/copying/moving files
alias rm="rm -i"
alias cp="cp -i"
alias mv="mv -i"

##########
# Global #
##########

alias -g H="| head"
alias -g T="| tail"
alias -g G="| grep"
alias -g L="| less"
alias -g M="| most"

#######
# Net #
#######

# Get current Remote IP
alias ip="curl icanhazip.com"

# Copy public key to clipboard
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to clipboard.'"

############
# Homebrew #
############

alias brews="brew list -1"
alias bubu="brew update && brew upgrade && brew cleanup"